# Task 1

---

## Web scraping and analysis

This Jupyter notebook includes some code to get you started with web scraping. We will use a package called `BeautifulSoup` to collect the data from the web. Once you've collected your data and saved it into a local `.csv` file you should start with your analysis.

### Scraping data from Skytrax

If you visit [https://www.airlinequality.com] you can see that there is a lot of data there. For this task, we are only interested in reviews related to British Airways and the Airline itself.

If you navigate to this link: [https://www.airlinequality.com/airline-reviews/british-airways] you will see this data. Now, we can use `Python` and `BeautifulSoup` to collect all the links to the reviews and then to collect the text data on each of the individual review links.

# Requirements to be installed

In [1]:

!pip install requests
%pip install pandas

Requirement already satisfied: requests in c:\users\hp\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (2.31.0)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\hp\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from requests) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in c:\users\hp\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from requests) (3.4)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\hp\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from requests) (2.0.7)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\hp\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from requests) (2023.7.22)

[notice] A new release of pip is available: 23.2.1 -> 23.3.1
[notice] To update, run: C:\Users\HP\AppData\Local\Microsoft\WindowsApps\PythonSoftwareFoundation.Python.3.11_qbz5n2kfra8p0\python.exe -m pip install --upgrade pip

Requirement already satisfied: pandas in c:\users\hp\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (2.1.2)
Requirement already satisfied: numpy<2,>=1.23.2 in c:\users\hp\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from pandas) (1.26.1)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\hp\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\hp\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in c:\users\hp\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in c:\users\hp\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 23.2.1 -> 23.3.1
[notice] To update, run: C:\Users\HP\AppData\Local\Microsoft\WindowsApps\PythonSoftwareFoundation.Python.3.11_qbz5n2kfra8p0\python.exe -m pip install --upgrade pip

# Project Commencement

In [2]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

In [3]:
# To set the parameters in which the dataset will take form into


base_url = "https://www.airlinequality.com/airline-reviews/british-airways"
pages = 10
page_size = 100

reviews = []

ratings = []

# for i in range(1, pages + 1):
for i in range(1, pages + 1):

    print(f"Scraping page {i}")

    # Create URL to collect links from paginated data
    
    # Maximizes the reviews page without cluttering thr memory
    url = f"{base_url}/page/{i}/?sortby=post_date%3ADesc&pagesize={page_size}"

    # Collect HTML data from this page
    response = requests.get(url)

    # Parse content
    content = response.content
    parsed_content = BeautifulSoup(content, 'html.parser')
    for para in parsed_content.find_all("div", {"class": "text_content"}):
        reviews.append(para.get_text())
    
    # Gets the rating side by side
    for rating in parsed_content.find_all("span", {"itemprop":"ratingValue"}):
        ratings.append(rating.string)
    
    
    print(f"   ---> {len(reviews)} total reviews")

Scraping page 1
   ---> 100 total reviews
Scraping page 2
   ---> 200 total reviews
Scraping page 3
   ---> 300 total reviews
Scraping page 4
   ---> 400 total reviews
Scraping page 5
   ---> 500 total reviews
Scraping page 6
   ---> 600 total reviews
Scraping page 7
   ---> 700 total reviews
Scraping page 8
   ---> 800 total reviews
Scraping page 9
   ---> 900 total reviews
Scraping page 10
   ---> 1000 total reviews

In [4]:
#Removes junk values in the list

ratings = [r for r in ratings if r != '\n\t\t\t\t\t\t\t\t\t\t\t\t\t5']
len(ratings)

1000

In [5]:
len(reviews)

1000

In [6]:
df = pd.DataFrame()
df["reviews"] = reviews
df.head(10)

                                             reviews
0  ✅ Trip Verified |  The flight was on time. The...
1  Not Verified |  Angry, disappointed, and unsat...
2  ✅ Trip Verified |  As an infrequent flyer, Bri...
3  Not Verified |  A totally unremarkable flight,...
4  ✅ Trip Verified |   1. Ground crew in Heathrow...
5  ✅ Trip Verified |  London Heathrow to Gibralta...
6  ✅ Trip Verified | First time flying British Ai...
7  Not Verified |  I flew London to Cairo and ret...
8  Not Verified |  Absolutely the worst experienc...
9  Not Verified |   Flew back from Malta after sc...

In [7]:
df.to_csv("data/BA_reviews.csv")

Congratulations! Now you have your dataset for this task! The loops above collected 1000 reviews by iterating through the paginated pages on the website. However, if you want to collect more data, try increasing the number of pages!

 The next thing that you should do is clean this data to remove any unnecessary text from each of the rows. For example, "✅ Trip Verified" can be removed from each row if it exists, as it's not relevant to what we want to investigate.

In [25]:
s = df.squeeze()
s.str.rsplit(" | ", expand=True, n=1)

                   0                                                  1
0    ✅ Trip Verified   The flight was on time. The crew were polite....
1       Not Verified   Angry, disappointed, and unsatisfied. My rout...
2    ✅ Trip Verified   As an infrequent flyer, British Airways was a...
3       Not Verified   A totally unremarkable flight, on time, as co...
4    ✅ Trip Verified    1. Ground crew in Heathrow left 60 passenger...
..               ...                                                ...
995  ✅ Trip Verified   Heathrow to Vancouver. The seats booked not g...
996  ✅ Trip Verified   London to Bucharest. First class ground staff...
997  ✅ Trip Verified   I forgot I had purchased a hand baggage only ...
998  ✅ Trip Verified   When the passenger in front reclines his/her ...
999  ✅ Trip Verified   Boston to London. World Traveler seats. Nice ...

[1000 rows x 2 columns]

In [28]:
df[['is_verified', 'reviews']] = df['reviews'].str.split('|', n=1, expand=True)
df

                                               reviews     is_verified
0      The flight was on time. The crew were polite...  Trip Verified
1      Angry, disappointed, and unsatisfied. My rou...       Verified
2      As an infrequent flyer, British Airways was ...  Trip Verified
3      A totally unremarkable flight, on time, as c...       Verified
4       1. Ground crew in Heathrow left 60 passenge...  Trip Verified
..                                                 ...             ...
995    Heathrow to Vancouver. The seats booked not ...  Trip Verified
996    London to Bucharest. First class ground staf...  Trip Verified
997    I forgot I had purchased a hand baggage only...  Trip Verified
998    When the passenger in front reclines his/her...  Trip Verified
999    Boston to London. World Traveler seats. Nice...  Trip Verified

[1000 rows x 2 columns]